*{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: 'Husari';
    src:url(cz.ttf);
}
body{
    overflow-x:hidden;
    height: 100vh;

}
#title{
    font-family: Husari;
}
#title h1{
    font-size: 2.6em;
    font-weight: 2100;
    color: black;
    margin-left: 9%;
}
#menuZdjecie{
    margin-top: -10%;
    height: 250%;
    width: 100%;
    opacity: 0.8;
    

}

#wrapper{
    margin: 0 10%;
    position: absolute;
    top: 0px;
    right: 5%;
    left:5%;
    margin: 0 5%;

    
}
header{
    margin-top: 5%;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid black;

}
#foto{
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-top:1%
}


#title{
    display:block;
    text-align: center;
    font-size: 20px; 
    width: 70%;
    float: right;
    margin-right: 8%
}
section{
    display: inline-flex;
    position: relative;
    margin-top: 3%;
    width: 100%;
}
.menu{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 30%;
}
#pojemnik{
    display: block;
    width: 25%;
    height: 100%;
}
#papier{
    opacity: 0.9;
    position: absolute;
    width: 75%;
}
#prawa{
    width: 75%;
    margin-top: -2%;
}
#dokumenty{
    position: relative;
    text-align: center;
}
#dokumenty h1{
    margin: 8% 10% 0 10%;
    font-size: 40px;
    border-bottom: solid black 4px;
}
#film{
    position: relative;
}
.menu_image{
    width: 120%;
    margin-bottom: 5%;
    position: relative;
}
.propozec{
    margin-left: 7%;
    margin-top: 3%;
    width: 70%;
}

#jerzy{
    font-size: 14px;
}
#karty{
    position: absolute;
    top: 10%;
    right: 35%;

}
#karty a{
    color: black;
}

footer{
    background-color: black;
    color:white;
    position: relative;
    display: inline-flex;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 10%;
    margin-top: -2%;
}
.fb img{
    text-decoration: none;
    display: inline-block;
    background-color: aliceblue;
}
#slider{
    position: absolute;
    left: 25%;
    top: 0.5%;
    height: 80%;
    width: 70%;
}
#kontakt{
    text-align: center;
    font-size: 28px;
    font-weight: 200;
    margin: 4% 6% 1%;
    padding: 0 5.1%;
    border-bottom: 1px solid white;
}
.Kontakty{
    width: 33.3%;
}
#numer{
    position: absolute;
    left: 12%;
    top:45%;
}
#mail{
    position: absolute;
    left: 12%;
    top:60%;
}
#fac{
    position: absolute;
    top:46%;
    left: 44%;
}
#yt{
    position: absolute;
    top: 43%;
    left: 50%;
}
#tel{
    position: absolute;
    top:43%;
    left: 8%;
}
#email{
    position: absolute;
    top:57%;
    left: 7.7%;
}

